@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e5e5e5;
}

/* header */
#header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
}

.presentation a {
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  color: #7f8cff;
  width: 80%;
}

#logo a {
  font-size: 18px;
  text-decoration: none;
  color: #6070ff;
  padding: 10px 12px;
  margin: 0 8px;
}

.presentation ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  width: 80%;
}

#navbar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  gap: 20px;
}

#navbar ul li a {
  text-decoration: none;
  color: #344563;
  font-size: 15px;
  font-weight: 500;
}

.presentation {
  background-image: url(images/Header\ bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

.content-padding {
  padding: 10px 12px;
  text-align: center;
}

#menu {
  display: none;
}

/* content */

.presentation h1 {
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  max-width: 80%;
  width: 80%;
  line-height: 60px;
  letter-spacing: 0.37px;
}

.presentation p {
  font-size: 20px;
  font-weight: 400;
  max-width: 80%;
  width: 80%;
}

@media all and (max-width: 768px) {
  .presentation {
    background-image: url(images/header-mobile.png);
  }

  .skill-set ul {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  #navbar ul {
    display: none;
  }

  #menu {
    display: block;
  }

  .presentation h1 {
    font-size: 40px;
  }

  .presentation p {
    font-size: 16px;
  }

  #header {
    position: relative;
    background-color: #fff;
    width: 100%;
  }

  /* Works section */
  #works {
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    row-gap: 88px;
    margin: 88px 0;
  }

  .card {
    grid-column: 2;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .card img {
    border-radius: 8px;
    margin: 16px;
  }

  .left-block {
    display: flex;
    flex-flow: column wrap;
    margin-left: 16px;
    gap: 10px;
    margin-bottom: 10px;
  }

  .left-block h1 {
    font-size: 32px;
    color: #172b4d;
    line-height: 44px;
  }

  .left-block p {
    font-weight: 400;
    font-size: 15px;
    color: #344563;
  }

  .info {
    display: flex;
    align-items: center;
  }

  .info h3 {
    font-size: 13px;
    line-height: 16px;
  }

  .title {
    color: #344563;
  }

  .description {
    color: #7a869a;
  }

  .categories {
    display: flex;
    list-style-type: none;
    gap: 8px;
    padding: 0;
  }

  .tag {
    padding: 4px 12px;
    background-color: #ebebff;
    border-radius: 8px;
    color: #6070ff;
    font-size: 12px;
  }

  .btn {
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 17px;
  }

  /* About myself section  */
  #about-myself {
    background: #fff;
    border-bottom-left-radius: 0;
    border-top-right-radius: 100px;
    height: auto;
  }

  #about-myself h1 {
    margin-top: 114px;
  }

  #resume {
    width: 80%;
  }

  #resume button {
    color: #396df2;
  }

  .skill-set {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
  }

  .skill-set ul li {
    display: flex;
    background-color: #f7f7f9;
    border-radius: 8px;
    align-items: center;
    height: 67;
  }

  #language {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
  }

  .border-bot {
    border-bottom: 1px solid #dfe1e6;
  }

  #language h3 {
    font-size: 20px;
    color: #000;
    font-weight: 500;
  }

  #language-list {
    width: 100%;
  }

  #language-list li img {
    padding: 16px;
  }

  #language-list li h3 {
    font-weight: 500;
    font-size: 15px;
  }

  /* Contact Form */

  #contact-form {
    background-image: url(/images/contact-form.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #6070ff;
    border-top-left-radius: 100px;
  }

  #contact-form h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    padding-top: 103px;
    line-height: 52px;
    color: #fff;
  }

  #contact-form p {
    text-align: center;
    color: #fff;
    font-weight: 400;
    line-height: 28px;
    margin: 12px 24px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    gap: 20px;
  }

  .form-container input[type=text],
  .form-container input[type=email] {
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
    padding: 15px 38px 15px 16px;
    height: 48px;
  }

  .form-container textarea {
    padding: 15px 38px 15px 16px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    height: 170px;
    resize: none;
  }

  /* Button implementation */
  .bn {
    padding: 12px;
    color: #7f8cff;
    background: #fff;
    border: 1px solid #7f8cff;
    border-radius: 8px;
  }

  .bn:hover {
    background: #6070ff;
    box-shadow: 1px 8px 16px rgba(64, 83, 252, 0.24);
  }

  .bn:focus {
    background: #2230d2;
  }

  .bn:disabled {
    border: 1px solid #c1c7d0;
    border-radius: 8px;
    color: #5e6c84;
  }

  footer {
    background-color: #fff;
    width: 100%;
    padding-top: 114px;
  }
}
